## Introduction to Sqlite

In [4]:
import sqlite3
import pandas as pd
conn =  sqlite3.connect("data.sqlite")

## Viewing the Tables

In [5]:
df = df.read_sql("""SELECT name from sqlite_master WHERE type = "table";""" , conn)

NameError: name 'df' is not defined